{% extends 'main.html' %}
{% load static %}
{% block title %}
    İletişim
{% endblock %}
{% block description %}
    Yönetişim hesabınıza giriş yaparak, yönettiğiniz apartman ve sitenin; yönetim, finans ve iletişim ile ilgili tüm işlemlerini kolayca gerçekleştirebilirsiniz.
{% endblock %}
{% block css %}
<style>
   .contact-img {
    background-image: linear-gradient(180deg, #011936 0%, rgba(1, 25, 54, 0.1) 48.96%, rgba(1, 25, 54, 0) 100%), url("{% static 'img/webtest/Iletisim.jpg'%}");
    background-repeat: no-repeat;
    background-size: 100% 122%;
    background-position: 0% 38%;
    margin: 0px auto;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 560px;
    overflow: hidden;
}
   input[type=checkbox] {
    opacity: 0%;
    position: relative;
    left: 137px;
    top: 11px;
    width: 30px;
    height: 30px;
    float: left;
}
.custom-checkbox{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 11px 10px 0 107px;
    vertical-align: middle;
    border: 1px solid #011936;
    cursor: pointer;
    /* position: relative; */
    /* left: 107px; */
    float: left;
}
input[type=checkbox]:checked +.custom-checkbox{
    background:url({% static 'img/webtest/check.png' %}) no-repeat;
    background-position: 0 2px;
    background-size: 100% 100%;


}
.checkbox-in p{
    float: left;
    line-height: 52px;
}

@media (min-width: 350px) and (max-width: 767px){
    .contact-img{
        height:200px;
        background-position: 88% 109%;
        background-size: 146% 102%;
    }
    input[type=checkbox]{
        left:4px;
    }
    .custom-checkbox{
        margin: 11px 10px 0 -26px;
    }
    .checkbox-in p{
        font-size: 13px;
    }.left-part{
    height: 285px;
         }
     .right-part{
         height: 715px;
     }
     .ta{
         height: 698px !important;
     }
}

</style>  
{% endblock css %}
 
{% block content %}
    <div class="contact-img">
        
    </div>
    <div class="btn-topup">
        <a href="#"><img style="width:100%;" src="{% static 'img/webtest/up-arrow.png'%}"></a>
    </div>
    <!----------------------------------------BLOCK---------------------------------------------------->
    <div class="container bc">
        <div class="row">
            <div class="col-md-12" style="margin-top:50px;">
                <div class="col-lg-4 bc flt">
                    <div class="left-part bc">
                        <div class="left-part-inner">
                            <span class="left-line"></span>
                            <h1 class="bc">İletişim</h1>
                            <p class="bc">Sizlere daha iyi hizmet vermek istiyoruz. Ürünlerimiz ve kullanımları ya da şirketimiz ile ilgili her türlü soru ve talepleriniz için bizlerle iletişime geçmekten çekinmeyiniz. İletişim formunu doldurarak bize ulaşabilirsiniz.</p>
                        </div>
                
                    </div>
                </div>
                <div class="modal fade" id="modalticari" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="padding: 32px;width: 100%;">
                        <h5 class="modal-title" id="exampleModalLabel">Ticari E-İleti Onayı</h5>
                        {% comment %}<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>{% endcomment %}
                      </div>
                      <div class="modal-body">
                        <p style="text-align: -webkit-center;">Tarafıma gönderilecek ticari elektronik iletilere ilişkin <a href="#" style="color:#F5A623;">KVKK Aydınlatma Metni ve Açık Rıza Metni</a>’ni ve işbu metni okuduğumu ve anladığımı; paylaştığım bilgilerin şahsıma ait, güncel ve doğru olduğunu kabul ve beyan ediyorum. Bu kapsamda, ilgili kanallarla tarafıma ticari elektronik ileti gönderilmesine açık rıza ve onay veriyorum.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="modal-accept-button" class="btn-yellow modal-accept">ONAYLIYORUM</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 bc flt">
                    <div class="right-part">
                        
                        
                            {{ form.non_field_errors }}
                        <form  method="post" id="form" >
                            {% csrf_token %}
                            <div class="form-out ta " style="padding-top:24px">
                                <div class="col-md-12 input-h">
                                    <label for="ad">Ad Soyad</label>
                                    
                                    <input type="text" name="ad" maxlength="255" required id="id_ad" />
                                </div>
                                <div class="col-md-12 input-h">
                                    <label for="phone">Telefon Numarası</label>
                                    <input type="text" name="phone" maxlength="11" required id="id_phone" />

                                </div>
                                <div class="col-md-12 input-h">

                                    <label for="email">E-posta</label>
                                    <input type="email" name="email" maxlength="255" required id="id_email" />
                                </div>
                                
                                <div class="col-md-12 input-h">
                                    <label for="msg">Mesaj</label>
                                    {% comment %} <textarea name="msg" cols="40" rows="10" required id="id_msg" style="vertical-align: middle;"></textarea> {% endcomment %}
                                    <input type="text" name="ad" maxlength="255" required id="id_ad" />
                                </div>
                                <div class="col-md-12">
                                    <div class="checkbox-in">
                                        <input type="checkbox" name="is_accept" required id="id_is_accept" />
                                    <span class="custom-checkbox"></span>
                                        <p style="float:left;"><span id="modalticariopen" style="text-decoration:underline;cursor: pointer;" >Ticari elektronik ileti</span> almayı onaylıyorum.</p>
                                    </div>



                                </div>
                                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                                <div class="col-md-12 ps">
                                    <button type="submit" class="btn-yellow btn-pd">Gönder</button>
                                </div>

                            </div>
                        </form>
                        
                    
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="maps bc">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12032.237530214832!2d29.0025244!3d41.0676946!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe670da47e54e8644!2sY%C3%B6neti%C5%9Fim%20Teknoloji%20ve%20Bili%C5%9Fim%20Sistemleri%20A.%C5%9E.!5e0!3m2!1str!2str!4v1614021755082!5m2!1str!2str" width="1028" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="col-md-12" style="margin-top:70px;">
                <div class="mapslower bc">
                    <div class="col-xl-8 lowerinner flt bc">
                        <h1 class="bc">Adres</h1>
                        <p class="bc">Esentepe Mah. Harman 1 Sk Nida Kule Levent No:7-9/23, 34394 Şişli/İstanbul</p>
                    </div>
                    <div class="col-xl-4 lowerinner flt bc inner-w">
                        <h1 class="bc">E-posta</h1>
                        <p class="bc" style="width:50%">info@yonetisim.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script>
            $(document).ready(function(){

                $("#id_phone").keyup(function(){

                    var phone = $(this).val();
                    if(phone.match(/^[0-9]+$/)){

                        $("#id_phone").val(phone);
                    }else{phone=phone.slice(0,-1);$("#id_phone").val(phone);}
                });});
    </script>
    <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
    
    
    <script>

 </script>
{% endblock %}